@font-face {

  font-family: 'BNJinx';
  src: url('BNJinx.ttf');
}

body{
  padding: 0;
  background-color: #000;
}

#hud{
  display: block;
  position: absolute;
  z-index: -1;
  padding: 0;
  margin: auto, 0;
  width: 1400px;
  height: auto;
  left: calc(50% - 700px);
  top: -95px;
}

#game{
  cursor: url(cursor.cur), none;
}
